@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.stacked-container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: auto;
  height: 550px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px;
  /* overflow: hidden; */
}

.stacked {
  position: relative;
  width: 150px;
  height: 150px;
  top: auto;
  left: auto;
  opacity: 1;
}

.box-animate {
  top: 10px;
  left: 50px;
}
